<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
      </div>      
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>      
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Mobile</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="Mobile">
          </div>      
        </div>
    
       <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">Save</button>
       </div> 
    
  </form>